[req]
default_bits = 3072
default_md = sha256
req_extensions = v3_req
distinguished_name = req_distinguished_name
encrypt_key = no
prompt = no

[ req_distinguished_name ]

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
subjectAltName = @alt_names

[alt_names]
IP = $ENV::ETCD_CLIENT_IP
